body {
    font-family: 'Raleway', sans-serif;
    background-color: lightblue;
    align-items: center;
    justify-content: center;

}

.container-item{
    background-color: green;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;

}

.profile {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: green;
  }

.container{
    display: inline-grid;
    grid-template-columns: 1fr 2fr;
    border: thick double #32a1ce;
    margin: 2em;
    background-color: whitesmoke;
    border-radius: 25px;
}

.img-rounded-border {
    border:1px solid grey;
    border-radius:50%;
    display: block;
    margin: auto;
    margin-top: 2em;
  }
