body {
    font-family: 'Raleway', sans-serif;
    background-color: lightblue;
    align-items: center;
    justify-content: center;
    width: auto;
    max-width: 68rem;
    margin: 0 auto;
  }
  
  @media screen and (min-width: 620px) {
    body {
      font-size: 1.9rem;
      line-height: 1.31579;
    }
  }

  p {
      font-size: 0.8em;
      margin: 0.5em;
}

h1 {
    font-size: 1.2em;
    margin: 0.5em;
}


.container-item{
    background-color: green;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;


}

.profile {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: green;
  }

.container{

    display: inline-grid;
    grid-template-columns: 1fr 2fr;
    border: thick double #32a1ce;
    background-color: lightcyan;
    border-radius: 25px;
    justify-items: center;    
    align-items: center;

 
}

.img-rounded-border {
    border:1px solid grey;
    background-color: white;
    border-radius:50%;
    display: block;
    margin: auto;
    margin-top: 2em;
    margin-left: 2em;
  }
